<header class="text-center mb-6">
    <div class="logo-container flex flex-col items-center justify-center">
        <div class="flex flex-row text-left">
            <img src="/logo.png" alt="Logo" class="sm:w-[33px] sm:h-[33px] sm:mr-2 mt-3">
            <h1 class="text-2xl sm:text-4xl font-bold mt-2 color-kendaraan">E-Jadwal</h1>
        </div>
        <p class="font-semibold color-gedung text-xs sm:text-sm" style="padding-top: 0.5rem;">JADWAL PEMINJAMAN GEDUNG DAN KENDARAAN</p>
    </div>
</header>
